<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.softsquared.template.kotlin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".config.ApplicationClass"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launch_icon_foreground"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launch_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <activity android:name=".src.main.region.RegionRoomListActivity"></activity>
        <activity android:name=".src.main.region.adapter.DatePickerActivity"></activity>
        <activity android:name=".src.main.register.ui.RegisterLastActivity"></activity>
        <activity android:name=".src.main.register.ui.RegisterActivity3"></activity>
        <activity android:name=".src.main.register.ui.RegisterActivity2" />
        <activity android:name=".src.main.register.ui.RegisterActivity"></activity>
        <activity android:name=".src.main.login.ui.LoginSettingActivity" />
        <activity android:name=".src.main.login.ui.LoginActivity"></activity>
        <activity android:name=".src.main.region.ui.RegionTabActivity"></activity>
        <activity
            android:name=".src.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".src.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>